NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=vowdise-aa3d5.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=vowdise-aa3d5
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=vowdise-aa3d5.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
NEXT_PUBLIC_APP_URL=https://vowdise.com
RESEND_API_KEY=
QUOTE_EMAIL_FROM=Vowdise <quotes@your-domain.com>
